<style>
mat-card.titre {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20px;
  margin-bottom: 10px;
}
h2.sous-titre {
  margin-bottom: 50px;
}
div.margBot20 {
  margin-bottom: 20px;
}
div.margBot30 {
  margin-bottom: 30px;
}
div.margBot65 {
  margin-bottom: 65px;
}
p.margBot30 {
  margin-bottom: 30px;
}
a.margLeft30 {
  margin-left: 30px;
}
</style>
<div class="container">
  <div class="row">

    <div class="col-xs-12" style="background-color:#NQIKSB">
      <mat-card class="titre" style="background-color:#6495ED"><h1 style="text-align:center;"><strong>ICHECK V1</strong></h1></mat-card>
      <h2 class="sous-titre" style="text-align:center; color:#6495ED">Application creation tool</h2>

      <div class="row justify-content-around margBot65">
        <div class="col">
          <label for="label" class="col-form-label">Application label:</label>
          <input class="form-control" placeholder="Enter label" id="label" [(ngModel)]="appLabel" maxlength="100">
        </div>
        <div class="col">
          <label for="name" class="col-form-label">Application name:</label>
          <input class="form-control" placeholder="Enter name" id="name" [(ngModel)]="appName" maxlength="100">
        </div>
        <div class="col">
          <label for="id" class="col-form-label">Application ID:</label>
          <input class="form-control" placeholder="Enter ID" id="id" [(ngModel)]="appID" maxlength="3">
        </div>
        <div class="col">
          <label for="uids" class="col-form-label">Application UIDs:</label>
          <input class="form-control" placeholder="Enter UIDs" id="uids" [(ngModel)]="appUids" maxlength="200">
        </div>
        <div class="col">        </div>
      </div>
      <div class="row justify-content-start margBot65">
        <div class="col-4">
          <p style="text-align:center"><strong>Deployment on</strong></p>
        </div>
        <div class="col-3">
          <mat-checkbox color="primary" [(ngModel)]="preProduction">Preproduction</mat-checkbox>
        </div>
        <div class="col-3">
          <mat-checkbox color="primary" [(ngModel)]="production">Production</mat-checkbox>
        </div>
      </div>

      <div class="row justify-content-around">
        <div class="col-7">
          <u>Useful links</u> : <br><br>
          <a href="https://google.com" class="margLeft30">Link 1</a><br>
          <a href="https://google.com" class="margLeft30">Link 2</a>
        </div>
        <div class="col-5">
          <button mat-raised-button color="primary"
                  style="width:150px; height:60px"
                  [disabled]="appName ==='' || appID === '' || appLabel === '' || (!(preProduction) && !(production))">
                  Create
          </button>
        </div>
      </div>

      </div>
    </div>

  </div>
